@import "tailwindcss";

@font-face {
  font-family: 'Excalifont';
  src: url('./assets/fonts/Excalifont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Excalifont', sans-serif;
}
