@import "tailwindcss";

@font-face {
  font-family: 'Excalifont';
  src: url('./assets/fonts/Excalifont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Excalifont', sans-serif;
}

@keyframes float-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 1s ease-out forwards;
}
